$orange: #e39219;
$green: #82c13f;
$black: #333333;
$white: #ffffff;
$shadow-grey: rgba(#888888, 0.65);
$red-onion: #8a4e83;
$off-white: #f8f8f8;
$heroku-off-white: #eeeeee;
$placeholder: #e7e7e7;
$box-shadow: #8f8f8f;
