$orange: #e39219;
$green: #82c13f;
$black: #000000;
$shadow-grey: rgba(#888888, 0.65);

.green-outline {
  border: 2px solid $green;
}

.orange-outline {
  border: 2px solid $orange;
  }

.claimed {
  width: 25%;
  text-align: center;
}

a .black-text {
  color: black
}

.inventory-tile-container {
  margin-top: 2em;
}

.strong {
  font-weight: strong
}

.add-inventory {
  width: 50%;
  background-color: $green;

  &:hover {
    background-color: $orange;
  }
}

.past-inventory {
  width: 50%;
}
