@import "definitions";

body {
  background-color: $off-white;
}

.available-status {
  background-color: $green;
  color: $white;
  font-size: 1.3em;
  font-weight: strong;
  padding: 0.3em 0 0.3em 1em;
}

.claimed-status {
  background-color: $orange;
  color: $white;
  font-size: 1.3em;
  font-weight: strong;
  padding: 0.3em 0 0.3em 1em;
}

.expired-status {
  background-color: $red-onion;
  color: $white;
  font-size: 1.3em;
  font-weight: strong;
  padding: 0.3em 0 0.3em 1em;
}

a .black-text {
  color: $black;
}

.inventory-tile-container {
  margin-top: 2em;
}

.strong {
  font-weight: strong;
}

.add-inventory {
  background-color: $green;
  width: 50%;

  &:hover {
    background-color: darken($green, 5%);
  }
}

.past-inventory {
  width: 50%;
}

.inventory-tile,
.pickup-tile {
  background-color: $white;
  box-shadow: 0 4px 20px 1px $box-shadow;
  padding: 0;
  transform: scale(1);
  transition: all 200ms ease-in;

  &:hover {
    transform: scale(1.04);
    transition: all 200ms ease-in;
  }

  a {
    &:hover {
      color: $black;
    }
  }

  .tile-text {
    padding: 0.3em 0 0.3em 1em;
  }

}
