@import "definitions";

body {
  background-color: $off-white;
}

.available-status {
  background-color: $green;
  color: $white;
  font-size: 1.3em;
  font-weight: strong;
  padding: 0.3em 0 0.3em 1em;
}

.claimed-status {
  background-color: $orange;
  color: $white;
  padding: 0.3em 0 0.3em 1em;
  font-size: 1.3em;
  font-weight: strong;
  padding: 0.3em 0 0.3em 1em;
}

.expired-status {
  background-color: $red-onion;
  color: $white;
  padding: 0.3em 0 0.3em 1em;
  font-size: 1.3em;
  font-weight: strong;
  padding: 0.3em 0 0.3em 1em;
}

a .black-text {
  color: $black;
}

.inventory-tile-container {
  margin-top: 2em;
}

.strong {
  font-weight: strong;
}

.add-inventory {
  width: 50%;
  background-color: $green;

  &:hover {
    background-color: darken($green, 5%);
  }
}

.past-inventory {
  width: 50%;
}

.inventory-tile, .pickup-tile {
  background-color: $white;
  box-shadow: 0px 4px 20px 1px #8f8f8f;
  transform: scale(1);
  transition: all 200ms ease-in;
  padding: 0;

  &:hover {
    transform: scale(1.04);
    transition: all 200ms ease-in;
  }

  a {
    &:hover {
      color: black;
    }
  }

  .tile-text {
    padding: 0.3em 0 0.3em 1em;
  }

}
