@import "definitions";

.info-tile {
  box-shadow: 0 4px 20px 1px $box-shadow;
  margin-top: 3em;
}

.info-button {
  background-color: $green;
  color: $black;
  margin-top: 1em;
  width: 55%;
}

.info-tiles {
  background: $off-white;
}

.landing-photo {
  margin-top: -1em;
}
