@import "definitions";

.pickup-tile {
  border: 2px solid $black;
}

.claimed {
  width: 25%;
  text-align: center;
}

a .black-text {
  color: black
}

.pickup-tile-container {
  margin: 2em;
}

.strong {
  font-weight: strong;
}
