$orange: #e39219;
$green: #82c13f;
$black: #000000;
$shadow-grey: rgba(#888888, 0.65);

.pickup-tile {
  border: 2px solid $black;
}

.claimed {
  width: 25%;
  text-align: center;
}

a .black-text {
  color: black
}

.pickup-tile-container {
  margin: 2em;
}

.strong {
  font-weight: strong
}
