$orange: #e39219;
$green: #82c13f;
$black: #000000;
$white: #ffffff;
$shadow-grey: rgba(#888888, 0.65);

.top-bar, .top-bar ul {
  background-color: $white;
}

.top-bar {
  border-bottom: 3px solid $black;
}
